<button mat-icon-button *ngIf="isLogged | async" [matMenuTriggerFor]="menu">
  <mat-icon>account_circle</mat-icon>
</button>
<mat-menu #menu="matMenu">
  <button mat-menu-item disabled>
    <mat-icon>account_circle</mat-icon>
    <span>{{ displayname }}</span>
  </button>
  <button mat-menu-item (click)="gotoProfile()">
    <mat-icon>person_outline</mat-icon>
    <span>{{ i18n.t('Profile') }}</span>
  </button>
  <button mat-menu-item (click)="logout()">
    <mat-icon>exit_to_app</mat-icon>
    <span>{{ i18n.t('Log out') }}</span>
  </button>
</mat-menu>