<mat-card class="form">

    <mat-card-content>
        <h3>{{ i18n.t('Sign up') }}</h3>
        <form [formGroup]="signupForm" (ngSubmit)="onSubmit(form)" #form="ngForm">
            <mat-form-field class="full-width">
                <input type="text" matInput placeholder="{{ i18n.t('Email') }}" formControlName="email" #email>
                <mat-error *ngIf="signupForm.controls.email.hasError('pattern')" [innerHTML]="i18n.t('Please enter a valid email address')">
                </mat-error>
                <mat-error *ngIf="signupForm.controls.email.hasError('required')" [innerHTML]="i18n.t('{0} is <strong>required</strong>') | replace : i18n.t('Email')">
                </mat-error>
            </mat-form-field>

            <mat-form-field class="full-width">
                <input type="password" matInput placeholder="{{ i18n.t('Password') }}" formControlName="password" #password>
                <mat-error *ngIf="signupForm.controls.password.hasError('required')" [innerHTML]="i18n.t('{0} is <strong>required</strong>') | replace : i18n.t('Password')">
                </mat-error>
            </mat-form-field>

            <mat-form-field class="full-width">
                <input type="password" matInput placeholder="{{ i18n.t('Confirm Password') }}" formControlName="confirmPassword" #confirmPassword>
                <mat-error *ngIf="signupForm.controls.confirmPassword.hasError('required')" [innerHTML]="i18n.t('{0} is <strong>required</strong>') | replace : i18n.t('Confirm Password')">
                </mat-error>
                <mat-error *ngIf="signupForm.controls.confirmPassword.hasError('MatchPassword')" [innerHTML]="i18n.t('{0} and {1} <strong>do not match</strong>') | replace : i18n.t('Password') : i18n.t('Confirm Password')">
                </mat-error>
            </mat-form-field>

            <button type="submit" mat-raised-button [disabled]="!form.valid" class="full-width" color="primary">{{ i18n.t('Sign up') }}</button>
        </form>

        <span class="left full-width">
            <small>{{ i18n.t('Do you have an account?') }}</small>
            <a mat-button color="accent" routerLink="../signin">{{ i18n.t('Log in') }}</a>
        </span>
    </mat-card-content>
</mat-card>